:root{
    --off-white: #FAF5FF;
    --soft-purple: #9A5BEB;
    --deep-purple: #7910FF;
    --off-black: #0F0221;
}

p{
    margin: 0;
    font-family: Comic Neue;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}
li{
    margin: 0;
    font-family: Comic Neue;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
h1{
    font-family: "blambot-fx-pro", sans-serif;
    color: var(--off-white);
    font-size: 96px;
    font-style: italic;
    font-weight: 400;
    line-height: normal;
    margin: 0;
}
h2{
    font-family: 'Comic Neue', cursive;
    color: var(--off-white);
    font-size: 48px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    margin: 0;
}
.navbar{
    width: 192px;
    height: 100%;
    flex-shrink: 0;
    background: var(--soft-purple);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
}
.nav-buttons p{
    color: var(--off-white);
    text-align: center;
    font-family: 'Comic Neue', cursive;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
}
.nav-buttons{
    width: 69px;
    height: 69px;
    flex-shrink: 0;
    filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.25));
}
#home-button{
    margin-left: 157px;
    margin-top: 50px;
    position: absolute;
}
#home-button :hover{
    cursor: pointer;
    fill: var(--deep-purple);
}
#home-button p{
    width: 52.978px;
    height: 15.265px;
    flex-shrink: 0;
    padding-left: 8px;
    padding-top: 27px;
}
#about-button{
    margin-left: 268px;
    margin-top: 112px;
    position: absolute;
}
#about-button :hover{
    cursor: pointer;
    fill: var(--deep-purple);
}
#about-button p{
    width: 63px;
    height: 17px;
    flex-shrink: 0;
    padding-left: 3px;
    padding-top: 27px;
}
#cv-download{
    width: 209px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 20px;
    background: var(--soft-purple, #9A5BEB);
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 64px 0px 64px 0;
}
#cv-download a{
    color: var(--off-white, #FAF5FF);
    text-align: center;

    font-family: Comic Neue;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-decoration: none;
}
#portfolio-button{
    margin-left: 268px;
    margin-top: 243px;
    position: absolute;
}
#portfolio-button :hover{
    cursor: pointer;
    fill: var(--deep-purple);
}
#portfolio-button p{
    width: 67.099px;
    height: 13.064px;
    flex-shrink: 0;
    padding-left: 1px;
    padding-top: 28px;
}
#contact-button{
    margin-left: 157px;
    margin-top: 304px;
    position: absolute;
}
#contact-button :hover{
    cursor: pointer;
    fill: var(--deep-purple);
}
#contact-button p{
    width: 58.009px;
    height: 13.434px;
    flex-shrink: 0;
    padding-left: 5px;
    padding-top: 28px;
}
#itchio-button{
    margin-left: 50px;
    margin-top: 243px;
    position: absolute;
}
#itchio-button :hover{
    cursor: pointer;
    fill: var(--deep-purple);
}
#linkedin-button{
    margin-left: 50px;
    margin-top: 112px;
    position: absolute;
}
#linkedin-button :hover{
    cursor: pointer;
    fill: var(--deep-purple);
}
#nav-circle{
    position: absolute;
    margin-left: 32px;
    margin-top: 50px;
}
.home-container{
    background-image: url("../images/home-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
}
.title-banner{
    width: calc(100vw - 192px);
    height: 336px;
    flex-shrink: 0;
    background: rgba(15, 2, 33, 0.50);
    position: absolute;
    margin-top: 0;
    margin-left: 192px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#home-title{
    width: 514px;
}
#home-subtitle{
    margin-top: 48px;
    width: 687px;
}

#about-me{
    width: calc(100vw - 480px);
    position: absolute;
    margin-top: 0;
    margin-left: 192px;
    padding-left: 288px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
#about-me h1{
    margin-top: 69px;
    color: var(--off-black);
    width: 514px;
}
#about-me h2{
    margin-top: 32px;
    color: var(--off-black);
}
#about-me-text-container{
    margin-top: 32px;
    width: 774px;
    height: 177px;
    flex-shrink: 0;
}
#about-me-listing{
    width: 250px;
}
#about-me-picture{
    position: absolute;
    width: 304px;
    height: 304px;
    flex-shrink: 0;
    border-radius: 50%;
    border: 5px solid var(--soft-purple);
    background-image: url("../images/picture.jpg");
    background-position: 0px -38px;
    background-size: 120%;
    background-repeat: no-repeat;
    margin-top: -76px;
    margin-left: -152px;
}
#picture-container{
    position: absolute;
    width: calc(100vw - 960px);
    height: 152px;
    flex-shrink: 0;
    margin-top: 400px;
    margin-left: 480px;
    background: var(--soft-purple);
}

#thumbnail-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;
    margin-left: 100px;
}
#thumbnail-container .portfolio-item{
    width: 320px;
    height: 320px;
    flex-shrink: 0;
    background: var(--off-white);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    padding: 16px;
    margin: 16px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
#thumbnail-container #SolarExploration{
    background-image: url("../images/portfolio/SolarExploration.png");
    background-size: cover;
    background-position: center;
}
#thumbnail-container #GetDeRailed{
    background-image: url("../images/portfolio/GetDeRailed.png");
    background-size: cover;
    background-position: center;
}
#thumbnail-container #DinoMines{
    background-image: url("../images/portfolio/DinoMines.png");
    background-size: cover;
    background-position: center;
}
#thumbnail-container #SoulSplitter{
    background-image: url("../images/portfolio/SoulSplitter.png");
    background-size: cover;
    background-position: center;
}

#portfolio{
    width: calc(100vw - 192px);
    position: absolute;
    margin-top: 0;
    margin-left: 192px;
}
#portfolio h1{
    color: var(--off-black);
    width: 514px;   
    text-align: center;
    display: block;
    margin: 69px auto 90px;
    padding-left: 100px;
}
#portfolio a{
    color: var(--soft-purple);
    width: 200px;   
    text-align: center;
    display: block;
    margin: 69px auto 90px;
    padding-left: 100px;
}
#portfolio-item{
    width: calc(100vw - 192px);
    position: absolute;
    margin-top: 0;
    margin-left: 192px;
}
#portfolio-item p{
    margin-top: 64px;
    margin-left: 224px;
    max-width: 790px;
    margin-right: 32px;
}
#portfolio-item h1{
    margin-top: 69px;
    color: var(--off-black);
    max-width: 665px;   
    display: block;
    margin-left: 224px;
    margin-bottom: 16px;
    margin-right: 32px;
}
.sub-item-thumbnail{
    max-width: 790px;
    height: 360px;
    margin-left: 224px;
    margin-right: 32px;
    border-radius: 30px;
}
.sub-item-carousel{
    max-width: 790px;
    height: auto;
    margin-left: 224px;
    margin-right: 32px;
    border-radius: 30px;
    text-align: center;
    margin-top: 64px;
}
.main-image{
    position: relative;
    border-radius: 30px;
}
#main-img{
    max-width: 100%;
    height: auto;
    border: 2px solid var(--off-black);
    border-radius: 30px;
}
.nav-btn {
    background: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.nav-btn:hover{
    border-radius: 100px;
}
#prev-btn {
    left: 10px;
}
#prev-btn:hover{
    background: linear-gradient(90deg, rgba(121, 16, 255, 0.80) 0%, rgba(154, 91, 235, 0.29) 49.98%, rgba(154, 91, 235, 0.00) 100%);
}
#next-btn {
    right: 10px;
}
#next-btn:hover{
    background: linear-gradient(270deg, rgba(121, 16, 255, 0.80) 0%, rgba(154, 91, 235, 0.29) 49.98%, rgba(154, 91, 235, 0.00) 100%);
}
.thumbnail-row {
    display: flex;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 100px;
}
.thumbnail {
    max-width: 100px;
    margin: 0 5px;
    cursor: pointer;
}

.portfolio-item-video{
    margin: 64px 32px 64px 224px;
    max-width: 790px;
    height: 100%;
    border-radius: 30px;
}


#solar-exploration-item-thumbnail{
    background-image: url("../images/portfolio/SolarExploration.png");
    background-size: cover;
    background-position: 0% 40%;
}
#get-de-railed-item-thumbnail{
    background-image: url("../images/portfolio/GetDeRailed.png");
    background-size: cover;
    background-position: 0% 40%;
}
#dino-mines-item-thumbnail{
    background-image: url("../images/portfolio/DinoMines.png");
    background-size: cover;
    background-position: 0% 40%;
}
#soul-splitter-item-thumbnail{
    background-image: url("../images/portfolio/SoulSplitter.png");
    background-size: cover;
    background-position: 0% 50%;
}


#contact {
    display: flex;
    flex-direction: column;
    align-items: center;
}
#contact h1 {
    color: var(--off-black);
    width: 514px;   
    text-align: center;
    display: block;
    margin: 69px auto 90px;
    padding-left: 200px;
}
#contact-image-block {
    position: relative;
    background-image: url("../images/contact-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 624px;
    height: 352px;
    text-align: center;
    margin-left: 192px;
    border-radius: 30px;
}
#purple-contact-banner{
    border-radius: 30px 30px 0px 0px;
    background: rgba(154, 91, 235, 0.9);
    width: 624px;
    height: 64px;
    flex-shrink: 0;
    position: absolute;
    margin-left: 192px;
    margin-top: 255px;
    z-index: 1;
    text-align: center;
}
#purple-contact-banner a{
    display: flex;
    flex-direction: row;
    margin: 18px 0 18px 0;
    justify-content: center;
    gap: 16px;
    color: var(--off-white);
}

@media only screen and (min-width: 1250px) {
    #mobile {
      display: none;
    }
  }
  
  @media only screen and (min-width: 0px) and (max-width: 1250px) {
    body {
      overflow-x: hidden;
    }
  
    #mobile {
      position: fixed;
      z-index: 2;
      width: 100vw;
      height: 100vh;
    }
    .navbar {
      display: none;
    }
  
    .hamburger {
      position: fixed;
      z-index: 2;
      display: inline-block;
      padding-left: 1.2em;
      padding-right: 0.6em;
      margin-top: 1.2em;
      cursor: pointer;
    }
    .helloburger path {
        stroke: var(--deep-purple);
    }
    #home-burger path{
        stroke: var(--off-white);
    }
  
    nav {
      overflow-x: hidden;
    }
  
    nav input[type="checkbox"] {
      display: none;
    }
  
    #menu {
      position: absolute;
      width: 100%;
      height: 100%;
      background-color: var(--soft-purple);
      background-repeat: no-repeat;
      background-attachment: fixed;
      transform: translateX(-120%);
      transition: all 0.5s ease-in-out;
      overflow-x: hidden;
      padding-top: 4.5em;
    }
  
    nav input[type="checkbox"]:checked ~ #menu {
      transform: translate(0);
    }
    nav input[type="checkbox"]:checked ~ #cv-download {
        z-index: 0;
      }
  
    #menu a {
      font-size: 1.2em;
      font-family: Comic Neue;
      text-decoration: none;
      font-weight: 300;
      font-style: normal;
      color: var(--off-white);
      padding: 1.2em 0.5em;
      display: block;
      text-align: center;
      transition: color 0.5s;
    }
  
    #menu a:hover {
      color: var(--deep-purple);
    }

    .title-banner{
        margin: 0;
        width: auto;
        position: relative;
    }
    h1{
        font-size: 32px;
    }
    h2{
        font-size: 16px;
    }
    p{
        font-size: 16px;
    }
    li{
        font-size: 16px;
    }
    #home-title{
        width: 100%;
        padding: 0;
        text-align: center;
    }
    #home-subtitle{
        width: 100%;
        padding: 0;
        text-align: center;
    }
    #about-me{
        margin: 0;
        width: auto;
        position: relative;
        padding-left: 1.2em;
        padding-right: 1.2em;
    }
    #about-me-text-container{
        width: 100%;
        height: auto;
        margin-top: 32px;
        padding: 0;
    }
    #picture-container{
        position: relative;
        width: 157px;
        height: auto;
        margin-top: 32px;
        margin-left: 0;
        padding: 0;
    }
    #about-me-picture{
        margin: 0;
        position: relative;
    }
    #cv-download{
        z-index: 50;
    }
  }